.episodeWrapper {
  width: 100%;
  height: calc(100% - 6.5rem);
  overflow-y: auto;
  padding-top: 3rem;
  background-image: repeating-linear-gradient(-45deg, rgb(0 0 0 / 0.03) 0px 3px, transparent 3px 10px, );
}

.episode {
  max-width: 45rem;
  padding-bottom: 1rem;
  margin: 0 auto 2rem;
  background: white;
  filter: drop-shadow(0 1rem 1.5rem rgba(0,0,0, 0.2));

  
  border-top-left-radius: .5rem;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;


  .thumbnailContainer {
    position: relative;

    img {
      border-top-left-radius: .5rem;
      border-top-right-radius: 2rem;
      border-bottom-left-radius: 2rem;
      border-bottom-right-radius: .5rem;
    }

    button {
      width: 3rem;
      height: 3rem;
      border-radius: 0.75rem;
      border: 0;
      position: absolute;
      z-index: 5;
      font-size: 0;
      top: 50%;
      user-select: none;

      transition: filter 0.2s, transform 0.2s;

      &:hover{
        filter: brightness(0.85);
      }
      
      &:first-of-type {
        left: 0;
        transform: translate(-50%, -50%);
        background-color: var(--unit-blue);

        &:hover {
          transform: translate(-70%, -50%);
        }
      }

      &:last-of-type {
        right: 0;
        transform: translate(50%, -50%);
        background-color: var(--aqua-green);
      }
    }
  }

  .contentContainer {
    margin: 0 2rem;
  }

  header {
    padding-bottom: 1rem;

    h1 {
      margin-top: 2rem;
      margin-bottom: 1.5rem;
    }

    span {
      display: inline-block;
      font-size: 0.875rem;

      & + span {
        margin-left: 1rem;
        padding-left: 1rem;
        position: relative;

        &::before {
          content: '';
          width: 4px;
          height: 4px;
          background-color: #ddd;
          border-radius: 2px;
          
          position: absolute;
          left: 0;
          top: 50%;
          transform: (-50%, -50%);
        }
      }
    }
  }

  .description {
    // border-top: 1ps solid var(--gray-200);
    margin-top: 2rem;
    line-height: 1.675rem;
    color: var(--gray-800);

    p {
      margin: 1.5rem 0;
    }
  }
}